/*General Strucutre*/
body{
	background-color: initial;
	font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}
a:hover{
	text-decoration: none;
}
.container{
	max-width: 100%;
}
#c2{
	display: none;
}
.download-from-biolovision{
	padding: 1em;
    background-color: #ebdbc2;
    width: 100%;
    margin: 0px 50px;
}
.row {
	margin-bottom: 40px;
}
#c3 .row {
	margin-bottom: 0px;
}
 [type=button]{
 	 background-color: #fbbd58;
 }  
/* c1: Dowonload biolovision; */
#date_ago {
	display: inline;
	width: 50%;
}
.checkbox+.checkbox, .radio+.radio {
	margin-top: 10px;
}
.checkbox, .radio {
	margin-top: 0px;
	margin-bottom:0px;
}
.radio input[type="radio"]{
	margin-top: 20px;
}
.tab-pane {
	background-color: #ebdbc2;
	border: 2px solid #ebebeb;
}
#tab-checklists{
	padding-bottom: 40px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #ebdbc2;
    border: 2px solid #ebebeb;
    border-bottom: none;	
}

#input-date-from{
display: flex;
flex: 1;
    margin-right: 0;
}
#input-date-to{
display: flex;
flex: 1;
}
.input-group-addon{
    display: flex;
    padding: 6px 12px;
    background-color: #eee;
    border: 1px solid #ccc;
}
/*input[type="text"]{
	border-radius: 0 !important;
}*/
/* c2: Upload; */
#drobox-outer{
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-top:20px;
	width: 100%;
	background: white;
}
#dropbox{
	font-size: x-large;
	border: 2px dashed #bbb;
	border-radius: 5px;
	padding: 50px;
	text-align: center;
	color: #bbb;
	cursor: pointer;
}

/* c3: Result; */
.modal-dialog{
	width: 80%;
}
.modal-footer{
	text-align: center;
}
.map{
	width:100%;
	height:400px;
}
/*input[type="text"].form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/
#comments-preview, #cmt-sp-preview{
	max-width: 641px;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #ebebeb;
	background-color: #e8d5b7;
}
.leaflet-popup-content{
	text-align: center;
}
.CodeMirror {
	border: 1px solid #eee;
	height: auto;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.has-feedback .form-control-feedback{
	right: 15; !important
}

/* The slider */
#div-sliderOF{
	display: flex;
}
.check-fullform{
	display: none;
}
.sliderOF {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.sliderOF:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .sliderOF {
	background-color: #2196F3;
}

input:focus + .sliderOF {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderOF:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.form-check-input{
	    margin-top: .3rem !important;
    margin-left: -1.25rem !important;
}

/* Rounded sliders */
.sliderOF.round {
	border-radius: 34px;
}

.sliderOF.round:before {
	border-radius: 50%;
}
.cmt-sp-ct-tp{
	padding: 6px 12px;
	width: 100%;
	line-height: 1.42857143;
	margin-bottom: 10px;
}
.cmt-sp-ct-bt{
	resize: both;
	overflow-y: auto;
	display: block;
	width: 100%;
	height: auto;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.label{
	line-height: 1.42857143;
	margin-right: 3px;
	margin-left: 3px;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;¨
}
.label:active { 
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
#cmt-sp-preview-sp{
	color: #555;
}
.glyphicon-arrow-right{
	font-size:90px;
	margin: auto;
}
.slider-handle{
	background-image: none;
}
.slider-selection {
	background: #2196F3;
}
.slider-handle{
	cursor: pointer;
}
.input-number{
	width: 75px;
	text-align: center;
}
#zoom{
	width: 60px;	
}
#cmt-sp-preview-sp{
	padding-left: 10px;	
}
#selHotspot{
	height: 46px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3333333;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}
#assign-row{
	position: sticky;
	top: 0px;
	margin-bottom: 20px;
}
input[type="number"]{
	color: #555 !important;
}
.form-group{
	margin-bottom: 0px;
}