#drobox-outer{
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
#dropbox{
    font-size: x-large;
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
}
#btn-show margin-bottom: 20px;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu{
    z-index: 999999;
}
