.fusion-header-wrapper {
      /* position: relative; */
    z-index: 0!important;
}
#drobox-outer{
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top:20px;
}
#dropbox{
    font-size: x-large;
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    cursor: pointer;
}
#btn-show{
    margin-bottom: 20px;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu{
    z-index: 999999;
}
#instruction{
    border: 2px #e5e5e5 solid;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
